nav.navDoctor
  .nav-wrapper.teal.darken-4
    a.brand-logo(href='#') Healers @ Home
    ul#nav-mobile.right.hide-on-med-and-down
      li
        a(href='/login/form') Find Doctors
      li
        a(href='/logout') Logout