doctype html
html
	include head.jade
	link(href='/css/setTime.css', rel='stylesheet')
	link(href='/css/default.css', rel='stylesheet')
	link(href='/css/default.date.css', rel='stylesheet')
	include navPatient.jade
	body
		div.container.timeInputs
			- if(message)
				div.errorMessage.z-depth-2
					h6
						|	#{message}
			form(action="find", method="post")
				.input-field.col.s12
					|	Select Date
					br
					i.material-icons.prefix	date_range
					input#date.active.datepicker(type="text",name="date" )
					label(for='date')
				button.btn.waves-effect.waves-light.center-block.z-depth-2(type='submit', name='action')
					|	Search
					i.material-icons.right send
	include foot.jade
	script(src='/js/picker.js')
	script(src='/js/picker.date.js')
	script.
		$(document).ready(function(){
		$("input").click(function(){
		$(".datepicker").pickadate({
		min: new Date(2015,10,29)   // contains off-by-one error for month
		});
		});
		}); //this was missing