doctype html
html
	include head.jade
	link(href='/css/welcomeDoctor.css', rel='stylesheet')
	include navPatient.jade
	body
		div.container.welcome.teal.darken-4.z-depth-2
			h4 Welcome
				|	#{result.name.firstName} #{result.name.lastName}
			p.text
				|	Welcome to Healers at Home.
				br
				|	Through this portal you can easliy interact with the doctors and
				|	find who are available for you at your doorsteps.
			a.waves-effect.waves-light.btn.z-depth-2(href='/patient/search')
				| Find Doctors
				i.material-icons.right  search
	include foot.jade 